<h1>Add a Course</h1><br>
<br>

<form action="/courses" method="post">
  <input type="text" id="course_name" name="[course]course_name" value="" placeholder="Add School"/>
  

  <input type="submit">
</form>