<h1>Add a Subject</h1><br>
<br>

<form action="/subjects" method="post">
  <input type="text" id="subject_name" name="[subject]subject_name" value="" placeholder="Add Subject"/>
  

  <input type="submit">
</form>