<h1>Add a Professor</h1><br>
<br>

<form action="/professors" method="post">
  <input type="text" id="name" name="[professor]name" value="" placeholder="Professor"/>
  <input type="text" id="email_address" name="[professor]email_address" value="" placeholder="Email Address"/>
  <input type="text" id="office_location" name="[professor]office_location" value="" placeholder="Office Number"/>
  <input type="submit">
</form>